<link rel="stylesheet" href="chips.css" type="text/css" media="screen" title="no title" charset="utf-8">

<h1> Learn how to Play Poker like a Pro </h1>

<%= link_to "Learn More About Me", "https://phagmann.github.io/", :target => "_blank" %>
<br/>
<br/>

<%= link_to "Play Poker!", games_path, method: :post %>
<div class="form_circle">
<div class="fish red">
  <div></div>
</div> 
</div>
<table>

  <thead>

    <tr>
      <th> <u><h2> Name </h2></u> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    <% @games.each do |game| %>
      <tr>

        <td><h3><%= game.id %></h3></td>
        <td><button><%= link_to 'Play', game_path(game) %></button></td>
        <td><button><%= link_to 'Delete', game_path(game), method: :delete %></button></td>

      </tr>
    <% end %>


  
</table>

