

<h1> Learn how to Play Poker like a Pro </h1>
<% if player_signed_in? %>
        <li><%= link_to 'Sign out', destroy_player_session_path, method: :delete %></li>
  <h2> You have <%= current_player.all_chips %> Chips in your Bank! </h2>

<%= link_to "Learn More About Me", "https://phagmann.github.io/", :target => "_blank" %>
<br/>
<br/>

<%= link_to "Play Poker!", games_path, method: :post %>
<div class="form_circle">
<div class="fish red">
  <div></div>
</div> 
</div>
<table>

  <thead>

    <tr>
      <th> <u><h2> Name </h2></u> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    <% @games.each do |game| %>
      <tr>
      <% if game.player3_id == current_player.id %>
        <td><h3><%= game.id %></h3></td>
        <td><button><%= link_to 'Play', game_path(game) %></button></td>
        <td><button><%= link_to 'Delete', game_path(game), method: :delete %></button></td>
      <% end %>
      </tr>
    <% end %>

<% else %>

        <li><%= link_to 'Sign in', new_player_session_path %></li>
        <li><%= link_to 'Sign up', new_player_registration_path %></li>

<% end %>

  
</table>

