<h1/> Texas Hold'em </h1>
<!-- ♠ ♥ ♦ ♣ -->
<!-- TODO: make a new.html/erb have the acutal game played on that. maybe a show.html.erb? -->
<!-- <%# button_to("Deal Cards", new_hand_card_path, method: :get, :style => "position:relative; left:410px;top:100px; margin:0;", :onclick => "myMove(1);") %> -->

<!-- <div class="element"> -->
<body>


<% display_hash = {'♠' => 'spades', '♥' => 'hearts', '♦' => 'diams', '♣' => 'clubs'} %>
<% c1 = "card rank-" + @card1.rank.downcase + " " + display_hash[@card1.suit] %>
<% c2 = "card rank-" + @card2.rank.downcase + " " + display_hash[@card2.suit] %>
<% r1 = "card rank-" + @river1.rank.downcase + " " + display_hash[@river1.suit] %>
<% r2 = "card rank-" + @river2.rank.downcase + " " + display_hash[@river2.suit] %>
<% r3 = "card rank-" + @river3.rank.downcase + " " + display_hash[@river3.suit] %>

<div class="playingCards faceImages">


    <div class="card back">*</div>





<div style="position:relative; left:200px; margin:0;">

 <div class="circle">

<ul class="deck" style="position:relative; top:180px; left:350px;">






<li><div id="1" class="card back">*</div></li>
 <li><div id="2" class="card back">*</div></li>
<li><div id="3" class= "<%=c1%>">
        <span class="rank"><%=@card1.rank%></span>
        <span class="suit"><%=@card1.suit%></span>
    </div></li>
 <li><div id="4" class="card back">*</div></li>
  <li><div id="5" class="card back">*</div></li>
   <li><div id="6" class= "<%=c2%>">
        <span class="rank"><%=@card2.rank%></span>
        <span class="suit"><%=@card2.suit%></span>
    </div></li>
 <li><div id="7" class="<%=r1%>">
        <span class="rank"><%=@river1.rank%></span>
        <span class="suit"><%=@river1.suit%></span>
 </div></li>
  <li><div id="8" class="<%=r2%>">
        <span class="rank"><%=@river2.rank%></span>
        <span class="suit"><%=@river2.suit%></span>
  </div></li>
 <li><div id="9" class="<%=r3%>">
        <span class="rank"><%=@river3.rank%></span>
        <span class="suit"><%=@river3.suit%></span>
 </div></li>
 <li><div id="10" class="card back">*</div></li>
  <li><div id="11" class="card back">*</div></li>
   <li><div class="card back">*</div></li>
    <li><div class="card back">*</div></li>
     <li><div class="card back">*</div></li>
      <li><div class="card back">*</div></li>
       <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
    

</ul>
</div>

</div>

</div>

<br/>
<br/>

<br/>
</body>
<script>
  myMove(1)
</script>
<!-- </div> -->