<h1/> Texas Hold'em </h1>
<!-- ♠ ♥ ♦ ♣ -->
<!-- TODO: make a new.html/erb have the acutal game played on that. maybe a show.html.erb? -->
<!-- <%# button_to("Deal Cards", new_hand_card_path, method: :get, :style => "position:relative; left:410px;top:100px; margin:0;", :onclick => "myMove(1);") %> -->

<!-- <div class="element"> -->
<body>


<script> 

var trackerIndex = 0
var tracker = [10,11,12]
// TODO: changes to database, cards, in JS
// TODO: use post request
</script>

<%= button_to "New Round", game_path(@game), method: :put, style: "position:relative; left:410px;top:100px" %>


<button onclick="flip(tracker[trackerIndex], <%= @score %>, <%= @game.id %>, <%= current_player.id %> );trackerIndex++;" style = "position:relative; left:410px;top:100px; margin:0;" > Flip Me </button>

<button onclick="potTest(<%= @game.id %>, <%= current_player.id %> );" style = "position:relative; left:410px;top:50px; margin:0;" > Bet 5 chips</button>

<% my_hand = Hand.where( game_id: @game.id, card_id: [@card1.id, @card2.id]) %>
<button onclick="fold('<%= my_hand.pluck(:id) %>', true)" style = "position:relative; left:410px;top:50px; margin:0;" > Fold </button>




<% display_hash = {'♠' => 'spades', '♥' => 'hearts', '♦' => 'diams', '♣' => 'clubs'} %>
<% c1 = "card rank-" + @card1.rank.downcase + " " + display_hash[@card1.suit] %>
<% c2 = "card rank-" + @card2.rank.downcase + " " + display_hash[@card2.suit] %>

<% r1 = "card rank-" + @river1.rank.downcase + " " + display_hash[@river1.suit] %>
<% r2 = "card rank-" + @river2.rank.downcase + " " + display_hash[@river2.suit] %>
<% r3 = "card rank-" + @river3.rank.downcase + " " + display_hash[@river3.suit] %>
<% f1 = "card rank-" + @flip1.rank.downcase + " " + display_hash[@flip1.suit] %>
<% f2 = "card rank-" + @flip2.rank.downcase + " " + display_hash[@flip2.suit] %>

<% o1 = "card rank-" + @opp_c1.rank.downcase + " " + display_hash[@opp_c1.suit] %>
<% o2 = "card rank-" + @opp_c2.rank.downcase + " " + display_hash[@opp_c2.suit] %>
<% o3 = "card rank-" + @opp_c3.rank.downcase + " " + display_hash[@opp_c3.suit] %>
<% o4 = "card rank-" + @opp_c4.rank.downcase + " " + display_hash[@opp_c4.suit] %>

<div class="playingCards faceImages">


<%= link_to "Back", root_path %>

<div class="col-xs-10" id="a" style="height:120px;width:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<h2> Top 3 Winners: </h2>

</div>

 


<div style="position:relative; left:200px; margin:0;">

 <div class="circle">

<ul class="deck" style="position:relative; top:180px; left:350px;">


<div class="form_circle" style="position:relative;bottom:110px;right:150px;">
<div class="fish blue" style="width: 70px;height: 70px;">
  <div id="b"> <%= Pot.find(@game.id).total_chips %></div>
</div> 
</div>



<li><div id="1" class="card back">*</div></li>



 <li><div id="2" class="card back">*</div></li>

<li><div id="3" class= "<%=c1%>">
        <span class="rank"><%=@card1.rank%></span>
        <span class="suit"><%=@card1.suit%></span>
    </div></li>



 <li><div id="4" class="card back">*</div></li>
  <li><div id="5" class="card back">*</div></li>
   <li><div id="6" class= "<%=c2%>">
        <span class="rank"><%=@card2.rank%></span>
        <span class="suit"><%=@card2.suit%></span>
    </div></li>
 <li><div id="7" class="<%=r1%>">
        <span class="rank"><%=@river1.rank%></span>
        <span class="suit"><%=@river1.suit%></span>
 </div></li>
  <li><div id="8" class="<%=r2%>">
        <span class="rank"><%=@river2.rank%></span>
        <span class="suit"><%=@river2.suit%></span>
  </div></li>
 <li><div id="9" class="<%=r3%>">
        <span class="rank"><%=@river3.rank%></span>
        <span class="suit"><%=@river3.suit%></span>
 </div></li>
 <li><div id="10" class="card back">*</div></li>
  <li><div id="11" class="card back">*</div></li>
   <li><div class="card back">*</div></li>
    <li><div class="card back">*</div></li>
     <li><div class="card back">*</div></li>
      <li><div class="card back">*</div></li>
       <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>

        <!-- FOLDING: style="background:black;" -->
    

</ul>
</div>

</div>

</div>

<br/>
<br/>

<br/>
<div id="c" style="position:relative;height:200px;width:200px;right:160px;bottom:400px;">
<%= current_player.email + ": " + current_player.chips_bank.to_s %>

</div>

</body>
<script>
  myMove(1)
</script>

<script>

function potTest(gameID,playerID){
  
$.get( '/users/' + playerID.toString()).success (function(userDataq)  { 
$.post('/users/' + playerID.toString(), {

        _method: "PUT",
        player: {
          chips_bank: userDataq.chips_bank - 5
        }
      }).success (function(userData) {




$.get('/pots/' + gameID.toString()).success (function(dataq) { 
$.post('/pots/' + gameID.toString(), {

        _method: "PUT",
        pot: {
          total_chips: 5 + dataq.total_chips
        }
      }).success (function(data) {
          console.log(dataq)
          var div = document.getElementById("b");
          var civ = document.getElementById("c");
          div.innerHTML = data.total_chips;
          civ.innerHTML = userData.email + ": " + userData.chips_bank.toString()
      
})}) })  }) }




function winnings(gameID,playerID, scaler){
  
$.get( '/users/' + playerID.toString()).success (function(userDataq)  {
$.get('/pots/' + gameID.toString()).success (function(dataq) { 

$.post('/users/' + playerID.toString(), {

        _method: "PUT",
        player: {
          chips_bank: userDataq.chips_bank + 2*scaler*dataq.total_chips
        }
      }).success (function(userData) {
        console.log(dataq)
$.post('/pots/' + gameID.toString(), {

        _method: "PUT",
        pot: {
          total_chips: 0
        }
      }).success (function(data) {
          var div = document.getElementById("b");
          var civ = document.getElementById("c");
          div.innerHTML = data.total_chips;
          civ.innerHTML = userData.email + ": " + userData.chips_bank.toString()
      
})}) })  }) }






function fold(cards,bool){
cards = stringToArray(cards)
// something about
$(function() {
for ( var i= 0; i < cards.length; i++){
$.post('/hands/' + cards[i], {
        _method: "PUT",
        hand: {
          fold: bool
        }
      }).success (function(data) {
  div = document.getElementById(data.positions_id)
  div.className = "card back"
  div.style= "background:black;top:" + div.style.top.toString() + ";left:" + div.style.left.toString()
  div.innerHTML = "*"
}
// for(var trace_cards = 0; trace_cards < cards.length; trace_cards++){
//   var current = cards[trace_cards]
//   current.fold = true
//   console.log(current)
// }
  )}

    }
 )}

function flip(current, score, gameID, playerID){

if (current === 10){
 var div = document.getElementById(current.toString());
 div.className = "<%=f1%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip1.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip1.suit%>"
 div.appendChild(sp2);
  }
if (current === 11){
 var div = document.getElementById(current.toString());
 div.className = "<%=f2%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip2.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip2.suit%>"
 div.appendChild(sp2);

  }
 if(current === 12){
// fix this! innerHTML part is getting triggered after page loads.
  $(function () {
  var scores = superStringToArray(score);
  var div = document.getElementById("a");
  var rankScore = ['First', 'Second', 'Third'];
  var set = []
  var n = ""
  var trackCount = 0
  $.get('/games/' + gameID.toString() + ".json").success (function(hands) {
  for(var i = 0; i < score.length; i++){
    set = score[i];
    for( var z = 0; z < set.length; z++){
      n = set[z];
      var data = hands[trackCount]
      if (data.fold == false){
        div.innerHTML += "<p>" + rankScore[i].toString() + ":" + n.toString() + "</p>";
        if ( scrapEmail(n.toString()) === "phagmann1@gmail.com"){
          if(rankScore[i].toString() === "First"){
            winnings(gameID,playerID, 1.)
          }
          else {
            winnings(gameID,playerID, 0)
          }
        }
        
      }
      else{
        div.innerHTML += "<p>" + rankScore[i].toString() + ": Folded" + "</p>";
      }

    }
      trackCount++
    }
  }) 
})
 var div = document.getElementById("1");
 div.className = "<%=o1%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c1.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c1.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("4");
 div.className = "<%=o2%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c2.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c2.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("2");
 div.className = "<%=o3%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c3.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c3.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("5");
 div.className = "<%=o4%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c4.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c4.suit%>"
 div.appendChild(sp2);






 }


}


</script>

<!-- </div> -->