<h1/> Texas Hold'em </h1>
<!-- ♠ ♥ ♦ ♣ -->
<!-- TODO: make a new.html/erb have the acutal game played on that. maybe a show.html.erb? -->
<!-- <%# button_to("Deal Cards", new_hand_card_path, method: :get, :style => "position:relative; left:410px;top:100px; margin:0;", :onclick => "myMove(1);") %> -->

<!-- <div class="element"> -->
<body>


<script> 

var trackerIndex = 0
var tracker = [10,11,12]
// TODO: changes to database, cards, in JS
// TODO: use post request
</script>

<%= button_to "New Round", game_path(@game), method: :put, style: "position:relative; left:410px;top:100px" %>

<% hh1 = [Hand.find_by(game_id: @game.id, player_id: Player.find_by(email: Compare.flat_array(@score)[0])).id]  %>
<% hh1 += [Hand.find_by(game_id: @game.id, player_id: Player.find_by(email: Compare.flat_array(@score)[1])).id]  %>
<% hh1 += [Hand.find_by(game_id: @game.id, player_id: Player.find_by(email: Compare.flat_array(@score)[2])).id] %>
<% pp hh1 %>
<button onclick="flip(tracker[trackerIndex], <%= @score %>, <%= hh1 %> );trackerIndex++;potTest(<%= @game.id %>);potShow();" style = "position:relative; left:410px;top:100px; margin:0;" > Flip Me </button>

<% my_hand = Hand.where( game_id: @game.id, card_id: [@card1.id, @card2.id]) %>
<% pp my_hand %>
<button onclick="fold('<%= my_hand.pluck(:id) %>', true)" style = "position:relative; left:410px;top:50px; margin:0;" > Fold </button>




<% display_hash = {'♠' => 'spades', '♥' => 'hearts', '♦' => 'diams', '♣' => 'clubs'} %>
<% c1 = "card rank-" + @card1.rank.downcase + " " + display_hash[@card1.suit] %>
<% c2 = "card rank-" + @card2.rank.downcase + " " + display_hash[@card2.suit] %>

<% r1 = "card rank-" + @river1.rank.downcase + " " + display_hash[@river1.suit] %>
<% r2 = "card rank-" + @river2.rank.downcase + " " + display_hash[@river2.suit] %>
<% r3 = "card rank-" + @river3.rank.downcase + " " + display_hash[@river3.suit] %>
<% f1 = "card rank-" + @flip1.rank.downcase + " " + display_hash[@flip1.suit] %>
<% f2 = "card rank-" + @flip2.rank.downcase + " " + display_hash[@flip2.suit] %>

<% o1 = "card rank-" + @opp_c1.rank.downcase + " " + display_hash[@opp_c1.suit] %>
<% o2 = "card rank-" + @opp_c2.rank.downcase + " " + display_hash[@opp_c2.suit] %>
<% o3 = "card rank-" + @opp_c3.rank.downcase + " " + display_hash[@opp_c3.suit] %>
<% o4 = "card rank-" + @opp_c4.rank.downcase + " " + display_hash[@opp_c4.suit] %>

<div class="playingCards faceImages">


<%= link_to "Back", root_path %>

<div class="col-xs-10" id="a" style="position:relative; right:200px;">

<h3>h</h3>
<h3>e</h3>
<h3>y</h3>

</div>
 


<div style="position:relative; left:200px; margin:0;">

 <div class="circle">

<ul class="deck" style="position:relative; top:180px; left:350px;">


<div class="form_circle" style="position:relative;bottom:110px;right:150px;">
<div class="fish red" style="width: 70px;height: 70px;">
  <div id="b"> <%= Pot.find(@game.id).total_chips %></div>
</div> 
</div>



<li><div id="1" class="card back">*</div></li>



 <li><div id="2" class="card back">*</div></li>

<li><div id="3" class= "<%=c1%>">
        <span class="rank"><%=@card1.rank%></span>
        <span class="suit"><%=@card1.suit%></span>
    </div></li>



 <li><div id="4" class="card back">*</div></li>
  <li><div id="5" class="card back">*</div></li>
   <li><div id="6" class= "<%=c2%>">
        <span class="rank"><%=@card2.rank%></span>
        <span class="suit"><%=@card2.suit%></span>
    </div></li>
 <li><div id="7" class="<%=r1%>">
        <span class="rank"><%=@river1.rank%></span>
        <span class="suit"><%=@river1.suit%></span>
 </div></li>
  <li><div id="8" class="<%=r2%>">
        <span class="rank"><%=@river2.rank%></span>
        <span class="suit"><%=@river2.suit%></span>
  </div></li>
 <li><div id="9" class="<%=r3%>">
        <span class="rank"><%=@river3.rank%></span>
        <span class="suit"><%=@river3.suit%></span>
 </div></li>
 <li><div id="10" class="card back">*</div></li>
  <li><div id="11" class="card back">*</div></li>
   <li><div class="card back">*</div></li>
    <li><div class="card back">*</div></li>
     <li><div class="card back">*</div></li>
      <li><div class="card back">*</div></li>
       <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>

        <!-- FOLDING: style="background:black;" -->
    

</ul>
</div>

</div>

</div>

<br/>
<br/>

<br/>
</body>
<script>
  myMove(1)
</script>

<script>
function potShow(){

$.get('/pots/' + "<%= @game.id.to_s %>").success (function(data) {
  var div = document.getElementById("b");
  div.innerHTML = data.total_chips;
})}


function potTest(gameID){
  

$.post('/pots/' + gameID.toString(), {
        _method: "PUT",
        pot: {
          total_chips: 1
        }
      }).success (function(data) {
      

})}

function fold(cards,bool){
cards = stringToArray(cards)
// something about
$(function() {
for ( var i= 0; i < cards.length; i++){
$.post('/hands/' + cards[i], {
        _method: "PUT",
        hand: {
          fold: bool
        }
      }).success (function(data) {
  div = document.getElementById(data.positions_id)
  div.className = "card back"
  div.style= "background:black;top:" + div.style.top.toString() + ";left:" + div.style.left.toString()
  div.innerHTML = "*"
}
// for(var trace_cards = 0; trace_cards < cards.length; trace_cards++){
//   var current = cards[trace_cards]
//   current.fold = true
//   console.log(current)
// }
  )}

    }
 )}

function flip(current, score, hands){

if (current === 10){
 var div = document.getElementById(current.toString());
 div.className = "<%=f1%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip1.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip1.suit%>"
 div.appendChild(sp2);
  }
if (current === 11){
 var div = document.getElementById(current.toString());
 div.className = "<%=f2%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip2.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip2.suit%>"
 div.appendChild(sp2);

  }
 if(current === 12){
// fix this! innerHTML part is getting triggered after page loads.
$(function () {
  var scores = superStringToArray(score);
  var div = document.getElementById("a");
  div.innerHTML = null;
  var rankScore = ['First', 'Second', 'Third'];
  var set = []
  var n = ""
  var trackCount = 0
  for(var i = 0; i < score.length; i++){
    set = score[i];
    for( var z = 0; z < set.length; z++){
      n = set[z];
      console.log(hands[i], i, z)
      placeRankings(trackCount,hands,i,rankScore,n,div)
      trackCount++
    }
  } 
})
 var div = document.getElementById("1");
 div.className = "<%=o1%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c1.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c1.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("4");
 div.className = "<%=o2%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c2.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c2.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("2");
 div.className = "<%=o3%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c3.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c3.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("5");
 div.className = "<%=o4%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c4.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c4.suit%>"
 div.appendChild(sp2);

 }


}

function placeRankings(trackCount,hands,i,rankScore,n,div) {

  $.get('/hands/' + hands[trackCount].toString() ).success (function(data) {
      console.log(data, "bar")
      if (data.fold == false){
        div.innerHTML += "<h3>" + rankScore[i].toString() + ":" + n.toString() + "</h3>";
      }
      else{
        div.innerHTML += "<h3>" + rankScore[i].toString() + ": Folded" + "</h3>";
      }

    })

}

function stringToArray(string){
  var current = ""
  var final = []
  for (var i = 1; i < string.length; i++){
      ii = string[i]
      if(ii == "," || ii == "]" ){
          final.push(current) 
          current = ""
      }
      else{
          current += ii
      }
      
  }
  return final
}

function withIn (string){
    leftBrace = 1
    rightBrace = 0
    current = "["
    for (var i = 1; i < string.length; i++){
        ii = string[i]
        if( ii === '['){
            leftBrace++
        }
        else if( ii === ']'){
            rightBrace++
        }
        current += ii
        if (rightBrace === leftBrace){
            return current
        }
    }
    return "error"
}
function superStringToArray(string){
  var current = ""
  var final = []
  for (var i = 1; i < string.length; i++){
      ii = string[i]
      if( ii === '['){
            innerList = withIn(string.substring(i))
            final.push([stringToArray(innerList)])
            current = ""
            i += innerList.length 
        } 
      else if (ii == "," || ii == "]" ){
          final.push(current) 
          current = ""
      }
      else{
          current += ii
      }


  }
  return final
}

</script>

<!-- </div> -->