<h1/> Texas Hold'em </h1>
<!-- ♠ ♥ ♦ ♣ -->
<!-- TODO: figure out comp betting%> -->
    <!-- not using same database comps/pots! (fixed, testing more)-->
    <!-- pot didnt distribute winnings -->
<% @hh1 = @hh1.shuffle %>
<body>


<script> 

var trackerIndex = 0
var tracker = [10,11,12]
// TODO: changes to database, cards, in JS
// TODO: use post request
foldCheck(<%= @game.id %> )
</script>

<div data-role="main" class="ui-content">
      <label for="points">Chips:</label>
      <input id= "slider_amount" type="range" name="points" id="points" value="10" min="0" max="500">
      <!-- <input type="submit" data-inline="true" value="Bet"> -->
      <input id="bet_amount" type="text" value="10">
</div>

<script> 

$("#slider_amount").change( function(){
  $("#bet_amount").val($("#slider_amount").val());
});
$("#bet_amount").change( function(){
  $("#slider_amount").val($("#bet_amount").val());
});

$("#bet_amount").keypress( function(event) {
  if (event.keyCode == 13){
    $("#slider_amount").val($("#bet_amount").val());
    event.preventDefault();
  }
});


</script>

<%= button_to "New Round", game_path(@game), method: :put, style: "position:relative; left:410px;top:100px", disabled: true, id: "round" %>

<!-- call and flip being done at same time is probally causing issues -->
<button id="flip" onclick="call(tracker[trackerIndex], <%= @score %>, <%= @game.id %>, <%= current_player.id %> );trackerIndex++;" style = "position:relative; left:410px;top:100px; margin:0;" > Check / Call</button>

<button id="raise" onclick="raise(tracker[trackerIndex], <%= @score %>, <%= @game.id %>, <%= current_player.id %> );trackerIndex++;" style = "position:relative; left:410px;top:50px; margin:0;" > Raise </button>


<button id="fold" onclick="fold(<%= current_player.id %>, true, <%= @game.id %> );" style = "position:relative; left:410px;top:50px; margin:0;" > Fold </button>




<% display_hash = {'♠' => 'spades', '♥' => 'hearts', '♦' => 'diams', '♣' => 'clubs'} %>
<% c1 = "card rank-" + @card1.rank.downcase + " " + display_hash[@card1.suit] %>
<% c2 = "card rank-" + @card2.rank.downcase + " " + display_hash[@card2.suit] %>

<% r1 = "card rank-" + @river1.rank.downcase + " " + display_hash[@river1.suit] %>
<% r2 = "card rank-" + @river2.rank.downcase + " " + display_hash[@river2.suit] %>
<% r3 = "card rank-" + @river3.rank.downcase + " " + display_hash[@river3.suit] %>
<% f1 = "card rank-" + @flip1.rank.downcase + " " + display_hash[@flip1.suit] %>
<% f2 = "card rank-" + @flip2.rank.downcase + " " + display_hash[@flip2.suit] %>

<% o1 = "card rank-" + @opp_c1.rank.downcase + " " + display_hash[@opp_c1.suit] %>
<% o2 = "card rank-" + @opp_c2.rank.downcase + " " + display_hash[@opp_c2.suit] %>
<% o3 = "card rank-" + @opp_c3.rank.downcase + " " + display_hash[@opp_c3.suit] %>
<% o4 = "card rank-" + @opp_c4.rank.downcase + " " + display_hash[@opp_c4.suit] %>

<div class="playingCards faceImages">


<%= link_to "Back", root_path %>

<div class="col-xs-10" id="a" style="height:120px;width:300px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">


</div>

 


<div style="position:relative; left:200px; margin:0;">

 <div class="circle">

<ul class="deck" style="position:relative; top:180px; left:350px;">


<div class="form_circle" style="position:relative;bottom:110px;right:150px;">
<div class="fish blue" style="width: 70px;height: 70px;">
  <div id="b"> <%= @game.pot.total_chips %></div>
</div> 
</div>



<li><div id="1" class="card back">*</div></li>



 <li><div id="2" class="card back">*</div></li>

<li><div id="3" class= "<%=c1%>">
        <span class="rank"><%=@card1.rank%></span>
        <span class="suit"><%=@card1.suit%></span>
    </div></li>



 <li><div id="4" class="card back">*</div></li>
  <li><div id="5" class="card back">*</div></li>
   <li><div id="6" class= "<%=c2%>">
        <span class="rank"><%=@card2.rank%></span>
        <span class="suit"><%=@card2.suit%></span>
    </div></li>
 <li><div id="7" class="<%=r1%>">
        <span class="rank"><%=@river1.rank%></span>
        <span class="suit"><%=@river1.suit%></span>
 </div></li>
  <li><div id="8" class="<%=r2%>">
        <span class="rank"><%=@river2.rank%></span>
        <span class="suit"><%=@river2.suit%></span>
  </div></li>
 <li><div id="9" class="<%=r3%>">
        <span class="rank"><%=@river3.rank%></span>
        <span class="suit"><%=@river3.suit%></span>
 </div></li>
 <li><div id="10" class="card back">*</div></li>
  <li><div id="11" class="card back">*</div></li>
  <script>
    
  </script>

   <li><div class="card back">*</div></li>
    <li><div class="card back">*</div></li>
     <li><div class="card back">*</div></li>
      <li><div class="card back">*</div></li>
       <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>
        <li><div class="card back">*</div></li>

        <!-- FOLDING: style="background:black;" -->
    

</ul>
</div>

</div>

</div>

<br/>
<br/>

<br/>
<div id ="c" style="position:relative;height:300px;width:230px;right:160px;bottom:400px;">
<% @hh1.each do |hand| %>
  <% player = Player.find(hand.player_id) %>
  <p id="<%= 'c' + player.id.to_s %>"> <%= player.email + ": " + player.chips_bank.to_s %> </p>
  <% if player.hands.where(game_id: @game.id).first.fold == false %>
    <p id="<%= 'ac' + player.id.to_s %>"> Betting to: <%= player.betting %> </p>
  <% else %>
    <p id="<%= 'ac' + player.id.to_s %>"> Folded </p>
  <% end %>
<% end %>
</div>

</body>
<script>
  myMove(1)
  
</script>

<script>

function raise(current, score, gameID, current_playerID){

       $.get( '/game1s/' + gameID.toString()).success (function(matchAmount)  { 
          if (parseInt($("#slider_amount").val()) < matchAmount.current_high_bet){
            return
          }
        $.get( '/users/' + current_playerID.toString()).success (function(userDataq)  { 
         var prev_bet = userDataq.betting;

        $.post('/users/' + current_playerID.toString(), {

        _method: "PUT",
        player: {
          chips_bank: userDataq.chips_bank - (parseInt($("#slider_amount").val()) - prev_bet),
          betting: parseInt($("#slider_amount").val())
        }
      }).success (function(userData) {


          

      $.get( '/comps/' + gameID.toString()).success (function(players)  {

      $.get('/pots/' + gameID.toString()).success (function(pot) { 
      var div = document.getElementById("b");   
      div.innerHTML = pot.total_chips; 
      var revisit = false;
      for (var i = 0;i < players.length; i++){

         var player = players[i];
         var playerID = player.id;
         if( i == 0){
          var bet = player.betting; 
         }  
         else{
          if(player.betting != bet){
            revisit = true;
          }
         }
         var civ = document.getElementById("ac" + playerID.toString());   
         civ.innerHTML = "Betting to: " + player.betting; 
      
      

}

  if (revisit == true){
    trackerIndex -= 1;
    current = 0;
    }

  cardAction(current, score, gameID, current_playerID);
  foldCheck(gameID);
}) }) })
})  }) 

}





function fold(playerID,bool, gameID){

// cards is array that holds
$(function() {
$.get('/hand2s/' + gameID.toString()).success (function(hands) {
for ( var i= 0; i < hands.length; i++){
hand = hands[i]
if(playerID == hand.player_id && hand.fold == false){
  $.post('/hands/' + hand.id.toString(), {
          _method: "PUT",
          hand: {
            fold: bool
          }
        }).success (function(data) {
    var div = document.getElementById(data.positions_id)
    div.className = "card back"
    div.style= "background:black;top:" + div.style.top.toString() + ";left:" + div.style.left.toString()
    div.innerHTML = "*"
    if(hand.player_id > 2){

      var biv = document.getElementById("raise")
      biv.disabled = true
      var liv = document.getElementById("fold")
      liv.disabled = true
      var siv = document.getElementById("flip")
      siv.innerHTML = "Just Keep Pressing, Just Keep Pressing"
    }
}

  )
      // update other loop logic here
    }}


})

  foldCheck(gameID);
    }

 )
// maybe quick pause?


}





function winnings(gameID,playerID, scaler){
  
$.get( '/users/' + playerID.toString()).success (function(userDataq)  {
$.get('/pots/' + gameID.toString()).success (function(dataq) { 
$.post('/users/' + playerID.toString(), {

        _method: "PUT",
        player: {
          chips_bank: userDataq.chips_bank + Math.round(scaler*dataq.total_chips)
        }
      }).success (function(userData) {
        
$.post('/pots/' + gameID.toString(), {

        _method: "PUT",
        pot: {
          total_chips: 0
        }
      }).success (function(data) {
          var div = document.getElementById("b");
          var civ = document.getElementById("c" + userData.id.toString());
          div.innerHTML = data.total_chips;
          civ.innerHTML = userData.email + ": " + userData.chips_bank.toString()
          


})}) })  }) }











 function call(current, score, gameID, current_playerID){

       $.get( '/game1s/' + gameID.toString()).success (function(matchAmount)  { 


        $.get( '/users/' + current_playerID.toString()).success (function(userDataq)  { 
         var prev_bet = userDataq.betting;

        $.post('/users/' + current_playerID.toString(), {

        _method: "PUT",
        player: {
          chips_bank: userDataq.chips_bank - (matchAmount.current_high_bet - prev_bet),
          betting: matchAmount.current_high_bet
        }
      }).success (function(userData) {


          

      $.get( '/comps/' + gameID.toString()).success (function(players)  {

      $.get('/pots/' + gameID.toString()).success (function(pot) { 

      var div = document.getElementById("b");   
      div.innerHTML = pot.total_chips; 
      var revisit = false;
      for (var i = 0;i < players.length; i++){

         var player = players[i];
         var playerID = player.id;
         if( i == 0){
          var bet = player.betting; 
         }  
         else{
          if(player.betting != bet){
            revisit = true;
          }
         }
         var civ = document.getElementById("ac" + playerID.toString());   
         civ.innerHTML = "Betting to: " + player.betting; 
      
      

}

  
  if (revisit == true){
    trackerIndex -= 1;
    current = 0;
    }
  
  cardAction(current, score, gameID, current_playerID);
  foldCheck(gameID);
}) }) })
})  }) 

}

function cardAction(current, score, gameID, current_playerID){

  if (current === 10){
 var div = document.getElementById(current.toString());
 div.className = "<%=f1%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip1.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip1.suit%>"
 div.appendChild(sp2);
  }
if (current === 11){
 var div = document.getElementById(current.toString());
 div.className = "<%=f2%>"
 div.innerHTML = null

 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@flip2.rank%>"
 div.appendChild(sp1);

 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@flip2.suit%>"
 div.appendChild(sp2);

  }
 if(current === 12){
// fix this! if everyone ties and user folds, then it shows that everyone folded!
  $(function () {
  var scores = superStringToArray(score);
  var div = document.getElementById("a");
  var rankScore = ['First', 'Second', 'Third'];
  var set = []
  var n = ""
  var trackCount = 0
  var biv = document.getElementById("round")
  biv.disabled = false

  var biv = document.getElementById("raise")
  biv.disabled = true
  var liv = document.getElementById("fold")
  liv.disabled = true
  var siv = document.getElementById("flip")
  siv.disabled = true

  // go to games controller and figure this out with winnings!
  $.get('/games/' + gameID.toString() + ".json").success (function(hands) {
  var claim = false;
  var getWinnings = [];
  for(var i = 0; i < score.length; i++){
    set = score[i];
    for( var z = 0; z < set.length; z++){
      n = set[z];
      var data = hands[trackCount]
      if (data.fold == false){
        div.innerHTML += "<p>" + rankScore[i].toString() + ":" + n.toString() + "</p>";
          
          if(claim == false ){
            getWinnings += data.player_id;
            
          }
          else {
            winnings(gameID,data.player_id, 0)
          }
        
      }
      else{
        div.innerHTML += "<p>" + rankScore[i].toString() + ": Folded" + "</p>";
      }
      trackCount++

    }

    if(getWinnings.length > 0 ){
      for( var p = 0; p < getWinnings.length; p++){
        playaID = getWinnings[p];
        winnings(gameID,playaID, 1.0 / getWinnings.length) //make sure pot divided if ties (1/ num of winners)
    }
      claim = true // fix so all in "set" get even winnings
      getWinnings = [];
    }
      
    }
  }) 
})
// fix so cards dont show near end up round
 var div = document.getElementById("1");
 div.className = "<%=o1%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c1.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c1.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("4");
 div.className = "<%=o2%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c2.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c2.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("2");
 div.className = "<%=o3%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c3.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c3.suit%>"
 div.appendChild(sp2);


 var div = document.getElementById("5");
 div.className = "<%=o4%>"
 div.innerHTML = null
 var sp1 = document.createElement("SPAN");
 sp1.className = "rank"
 sp1.innerHTML = "<%=@opp_c4.rank%>"
 div.appendChild(sp1);
 var sp2 = document.createElement("SPAN");
 sp2.className = "suit"
 sp2.innerHTML = "<%=@opp_c4.suit%>"
 div.appendChild(sp2);

 }

}

</script>

<!-- </div> -->